$text-color: rgb(96, 95, 95);

.main-container{
  width: 80%;
  margin: auto;
  border: 1px solid red;
}

.main-heading{
  margin: 2% 0%;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid $text-color;
  border-top: 1px solid $text-color;
  margin: 1% 0%;
  position: relative;
  color: $text-color;
  padding: 10px 0px;
}

.top-relevant{
  position: absolute;
  right: 1%;
  top: 0%;
  height: auto;
}

.categories{
  display: flex;
  color: $text-color;
}
