$text-color: rgb(96, 95, 95);
$bgcolor: rgb(203, 203, 255);
$detailsPadding: 5px;
$whiteBG: white;

main{
  width: 80%;
  margin: auto;
}

h1{
  margin: 2% 0%;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  flex-wrap: wrap;
  margin: 1% 0%;
  position: relative;
  color: $text-color;
  padding: 10px 0px;
}

.info > span{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap; 
}

.info img{
  height: 15px;
  width: 15px;
}

.route img{
  height: 10px;
  width: 10px;
}

.line{
  width: 100%;
  height: 0x;
  border: 1px solid gray;
}

.top-relevant{
  position: absolute;
  right: 1%;
  top: 0%;
  height: auto;
}

.categories{
  display: flex;
  color: $text-color;
  margin: 1% 0%;
}

.category{
  padding: 1% 2.5%;
}

.route{
  display: flex;
  align-items: center;
  color: $text-color;
  margin-bottom: 2%;
}

.sub-heading{
  margin: 2% 0%;
}

.route-info{
  margin: 1% 1%;
}


.main-box{
display: flex;
background: white;
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 2%;
height: auto;
position: relative;
}

.main-box div:nth-child(1){
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.main-box div:nth-child(1) > h5{
  margin-top: 5%;
  font-weight: 400;
  }

.main-box div:nth-child(2){
  width: 50%;
  padding: 20px 0px;
}

.ratings{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 200px;
  color: blue; 
}

.ratings *{
display: flex;
flex-direction: column;
align-items: center;
}

.ratings > div *{
background: rgb(225, 247, 255);
}

.ratings > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgb(225, 247, 255);
  border-radius: 5px;
  height: 50%;
  padding: 0px 10px;
}

.ratings > div span:first-child{
  font-size: xx-large;
}

.ratings > .view{
  background: rgb(44, 97, 255);
  color: white;
  border-radius: 10px;
  width: 90%;
  padding: 10px 0px;
  margin: 2% 0%;
  border: none;
}

.main-box *{
  background: $whiteBG;
}

.show-more{
  display: flex;
  color: rgb(0, 128, 255);
  width: auto;
  margin-top: 1%;
}

.show-more p{
  width: auto;
}

.show-more img{
  width: 20px;
  height: 20px;
}

.main-box > div:nth-child(5){
  display: flex;
  align-items: center;
background: rgb(255, 117, 18);
color: white;
padding: 5px;
position: absolute;
top: -10px;
left: -10px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.main-box > div:nth-child(5) > img{
  background: none;
}

.main-box > div:nth-child(4){
  position: absolute;
  left: -5px;
  border: 1px solid grey;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 15%;
}


.main-discount{
  background: $bgcolor;
  padding: 0px $detailsPadding;
  font-size: 10px;
  color: rgb(63, 63, 255);
  width: 45px;
  margin:3% ;
}

.main-sub-box4{
  background: rgb(255, 233, 233);
  border-radius: 5px;
}

.main-sub-box4 > p{
background: none;
padding: 7px;
}

.main-sub-box4 span{
  padding: 5px;
  background: none;
}

.main-sub-box4 > p span:first-child{
color: rgb(49, 114, 255);
background: white;
margin: 10px;
border-radius: 5px;
}

main > .sub-heading{
  margin-top: 5%;
}


.related-deals{
  display: flex;
  justify-content: space-around;
}

.main-sub-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0%;
}

.sign-up-box{
  display: flex;
  width: 40%;
}

.sign-up-input{
  width: 70%;
  padding: 10px 0px;
  background: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sign-up{
  background: rgb(44, 97, 255);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30%;
  padding: 10px 0px;
  border: none;
  box-sizing: border-box;
}


@media (max-width: 770px){
main{
  width: 95%;
}
.top-relevant{
  position: static;
  height: auto;
} 

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
}

@media (max-width: 615px){
  .related-deals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0px auto;
  }
}

@media (max-width: 535px){
  main{
    font-size: small;
  }

  h1{
    font-size: x-large;
  }
  
.info, .categories, .route{
  font-size: small;
}

.category{
  padding: 1% 1%;
}

.main-box > div:first-child > img{
  height: 50px;
  width: 70px;
}

.ratings{
  height: 200px;
}

.ratings > div{
  padding: 3px;
}

.ratings > div span:first-child{
  font-size: x-large;
}

.round-tick{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.related-deals{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0px auto;
}

.sign-up-box{
  width: 60%;
}

.sign-up{
  width: 40%;
}

}